* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #3649b1, #060c2e, #3649b1);
  background-size: 400% 400%;
  animation: moveBackground 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
    background-color: white;
    border-radius: 15px;
    padding: 30px 20px;
    width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 25px;
    font-size: 30px;
    color: #222;
    font-family:Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.signup-btn, .back-btn {
    background-color: #f0b429;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.signup-btn:hover, .back-btn:hover {
    background-color: #d99a18;
}

.show-password {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    user-select: none;
    gap: 8px;
    margin: 5px 0; /* reduce bottom margin */
    width: 85%;       /* same width as inputs */
    margin-left: auto; /* center or align right */
    margin-right: auto;
}

.show-password input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #3649b1;
    cursor: pointer;
}


@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
